---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Histoire | Anvil Aerospace"
  description="l'histoire de Anvil Aerospace"
>
  <div class="stack gap-20 marginabout">
    <main class="wrapper about">
      <Hero title="Histoire" tagline="Voici l'historique d'Anvil Aerospace" />

      <section>
        <h2 class="section-title">Origines de Anvil Aerospace</h2>
        <div class="content">
          <p>
            La société Anvil Aerospace a été fondée sur Terra, une planète du
            système solaire fictif de Star Citizen, dans le 28e siècle. J.
            Harris Arnold, vétéran de l'armée de l'UEE et ingénieur
            aéronautique, a fondé Anvil Aerospace avec l'objectif de produire
            des vaisseaux spatiaux militaires de qualité supérieure.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Développement initial</h2>
        <div class="content">
          <p>
            Les premiers vaisseaux d'Anvil Aerospace étaient principalement
            destinés à un usage militaire. Le F7A Hornet, le chasseur spatial
            emblématique d'Anvil, a été conçu pour rivaliser avec d'autres
            vaisseaux de combat dans l'espace. Sa robustesse, sa maniabilité et
            sa polyvalence en ont fait un favori parmi les pilotes de l'UEE.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Expansion et diversification</h2>
        <div class="content">
          <p>
            Au fil du temps, Anvil Aerospace a étendu sa gamme de produits pour
            inclure une variété de vaisseaux spatiaux civils, répondant ainsi
            aux besoins des marchés civils et commerciaux. Les vaisseaux de
            transport, les vaisseaux d'exploration et les vaisseaux de recherche
            portant le label Anvil sont devenus des choix populaires parmi les
            civils et les entrepreneurs de l'univers Star Citizen.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Innovations technologiques</h2>
        <div class="content">
          <p>
            Anvil Aerospace est également réputée pour ses innovations
            technologiques. Les avancées dans la propulsion, les armes et les
            systèmes de défense ont été constamment intégrées dans la conception
            de leurs vaisseaux, ce qui a contribué à maintenir la réputation de
            la société en tant que leader dans le domaine de l'ingénierie
            spatiale.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Partenariats et contrats gouvernementaux</h2>
        <div class="content">
          <p>
            Anvil Aerospace entretient des relations étroites avec l'UEE et
            fournit régulièrement des vaisseaux spatiaux militaires à ses forces
            armées. Les contrats gouvernementaux et les partenariats avec l'UEE
            ont contribué à la croissance et à la prospérité continues de la
            société.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Recherche et développement</h2>
        <div class="content">
          <p>
            Outre la production de vaisseaux spatiaux, Anvil Aerospace investit
            également dans la recherche et le développement de nouvelles
            technologies spatiales. La société travaille en étroite
            collaboration avec l'UEE pour améliorer les capacités de sa flotte
            et repousser les frontières de l'exploration spatiale.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Conclusion</h2>
        <div class="content">
          <p>
            Dans l'ensemble, Anvil Aerospace incarne l'excellence technologique
            et l'héritage militaire de l'UEE dans l'univers de Star Citizen. Ses
            vaisseaux sont largement respectés et recherchés par les pilotes,
            les entrepreneurs et les factions à travers la galaxie, et la marque
            continue d'évoluer au fur et à mesure que le développement de Star
            Citizen progresse.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .marginabout {
      margin: 0 15%;
    }
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
