---
import Icon from "./Icon.astro";
import ThemeToggle from "./ThemeToggle.astro";
import type { iconPaths } from "./IconPaths";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Accueil", href: "/anvil/" },
  { label: "Vaisseaux", href: "/anvil/ship/" },
  { label: "Histoire", href: "/anvil/about/" },
];
---

<nav>
  <div id="menuheader" class="menuheader telephone">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu-header move">
    <div class="flex-direction">
      <div>
        <a href="/anvil/" class="site-title">
          <img
            alt="logo de anvil"
            title="anvil"
            src="/anvil/public/anvilLogo.png"
            class="anvilLogo"
          />
        </a>
      </div>
      <div class="zero">
        <a href="/anvil/" class="site-title"> Anvil Aerospace</a>
      </div>
    </div>
  </div>
  <!--ordi -->
  <div id="menu-content" class="ordi">
    {
      textLinks.map(({ label, href }) => (
        <a class="linknav" href={href}>
          <button class="btn-1">{label}</button>
        </a>
      ))
    }
  </div>
  <div class="theme-toggle">
    <ThemeToggle />
  </div>
  <!-- protable-->
  <div id="menuderoulant">
    {
      textLinks.map(({ label, href }) => (
        <a class="linknav" href={href}>
          <button class="btn-1">{label}</button>
        </a>
      ))
    }
  </div>
</nav>

<script>
  //recuperation des element html
  let menuheader = document.getElementById("menuheader");
  let menuderoulant = document.getElementById("menuderoulant");
  if (menuheader === null || menuderoulant === null) {
    console.log("error drop menu");
  } else {
    menuheader.onclick = () => {
      if (menuheader === null || menuderoulant === null) {
        console.log("error drop menu");
      } else {
        //sur le click sur le logo menu
        menuderoulant.classList.toggle("open"); //appliquer ou retirer la class open
        menuheader.classList.toggle("burger_open"); //appliquer ou retirer la class burgeropen
      }
    };
  }
</script>

<style>
  /*MENU==================*/

  #menuderoulant {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 325px;
    background-color: var(--gray-800);
    fill-opacity: 50%;
    margin: 0;
    padding: 10px;
    border-radius: 0 25px 25px 0;
    border-right: inset var(--gray-600) 3px;
    border-bottom: inset var(--gray-600) 3px;
    position: absolute;
    top: 150px;
    left: 0%;
    transform: translate(-100%, 0);
    transition: 0.5s ease-in-out;
  }
  #menuheader,
  #menuheader span {
    margin: 0;
    padding: 0;
  }

  #menuheader {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #menuheader span {
    display: block;
    position: absolute;
    border: inset var(--gray-300) 1px;
    height: 9px;
    width: 100%;
    background: var(--accent-regular);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #menuheader span:nth-child(1) {
    top: 0px;
  }

  #menuheader span:nth-child(2),
  #menuheader span:nth-child(3) {
    top: 18px;
  }

  #menuheader span:nth-child(4) {
    top: 36px;
    z-index: -1;
  }

  #menuheader.burger_open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    z-index: -1;
  }

  #menuheader.burger_open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menuheader.burger_open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #menuheader.burger_open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  /*translate du menu burger*/
  .open {
    transform: none !important;
  }
  /*MENU==================*/

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9999;
    position: relative;
    font-family: var(--font-brand);
    font-weight: 500;
    align-items: center;
    padding: 0 3rem;
  }
  .ordi {
    display: none;
  }
  .telephone {
    display: block;
  }
  .menu-header {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1.5rem;
  }
  .zero {
    padding: 0;
    margin: auto;
  }

  .site-title {
    margin: 5px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: 1.1;
    color: var(--accent-anvil);
    text-decoration: none;
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    height: calc(var(--icon-size) + 2 * var(--icon-padding));
    width: 64px;
  }

  .linknav {
    text-decoration: none;
  }
  .anvilLogo {
    width: 100px;
    height: 100px;
    min-width: 100px;
  }
  .flex-direction {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: 1285px) {
    .telephone,
    #menuderoulant {
      display: none;
    }
    .ordi {
      display: block;
    }
    .flex-direction {
      display: flex;
      flex-direction: column;
    }
  }
</style>
